nav.navbar {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 1em;
    z-index: 99999999;
}

.carousel img {
    margin: auto;
}

main .row {
    padding-bottom: 3em;
    border-bottom: 1px solid rgba(0,0,0, .2);
}

main > div {
    margin-top: 3em;
}

footer {
    line-height: 5em;
}