<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolute</title>
    <style>
    div{
        width:100px;
        height:100px;
        text-align:center;
        padding:20px;
        position:absolute;
    }
    
    #div1{
        background:#E44;
        top:0;
        left:0;
    }
    #div2{
        background:#44E;
        top:0;
        right:0;
        
    }
    #div3{
        background:#4E4;
        left:0;
        bottom:0;
    }
    #div4{
        background:#E4E;
        right:0;
        bottom:0;
    }
    
    </style>
</head>
<body>
    <div id="div1">Top left</div>
    <div id="div2">top right</div>
    <div id="div3">bottom left</div>
    <div id="div4">bottom right</div>
</body>
</html>