<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Box Model Example</title>
    <style>
        .box {
    	background-color: #000;
    	padding:20px 40px;
    	color:white;
    	border: 15px solid skyblue;
    	margin: 20px auto;
    	width: 50%;
    }    
    
    .margin-edge {  /* Our "margin border" */
      	border: 3px dashed red;
      	
    }
    </style>
</head>

<body style="padding:8% 25%;">
    <div class="margin-edge">
        <p class="box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</body>

</html>