<!doctype html>
<html lang="en">

    <!---- Compare this file with box-final.html --->
<head>
    <meta charset="UTF-8">
    <title>Box Model Example</title>
    <style>
    .box{
        background:black ;
        color:white;
        padding: 40px;
        
        
        border-color:red;
        border-width:thick;
        border-style:solid;
        
        
        margin-top:60px;
        margin-left:-140px;
        margin-right:510px;
        margin-bottom:-175px;
        height:100px;
    }
    
    .margin-edge{
        border:1px dashed;
        margin: 0px auto;
        width:40%;
        
    }
    
    
    </style>
</head>

<body>
    <!---- Compare this file with box-final.html --->
    <div class="margin-edge">
        <p class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum ipsum cupiditate iste ducimus error 
        <br/>
        illo assumenda cumque? Alias quo explicabo voluptatum autem! Aut, quia cum ratione repellat ad consectetur.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, optio, impedit debitis modi ipsa error eveniet. At, reprehenderit, amet rem fugiat odio modi vel voluptatum aliquid voluptates tenetur. Mollitia, ut.
        </p>
    </div>
</body>

</html>