<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clearfixing Example</title>
    <style>
    #parent{
        background:#DDD;
        
    }
    p{
        width:30%;
        overflow:hidden;
        float:left;
        padding-bottom:50px;
    }
    
    </style>
    
</head>
<!-- Instructions:
Our "parent" div has a color, but it's collapsing and so not drawing itself on the page. The collapse comes from its being unable to see its children p because they are all floating.
Add a clear to the "clearme" paragraph so that it sits below the other two paragraphs and the div expands. -->
<body>
    <div id="parent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, veniam, id corporis quam praesentium commodi maxime eligendi error reiciendis natus. Perspiciatis, velit temporibus animi ducimus consectetur nam magnam id numquam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, libero consectetur laudantium dolores neque! Assumenda, consectetur suscipit accusamus fuga repellendus molestias eligendi sint mollitia illo nostrum perspiciatis cum nihil doloremque!</p>
        <p id="clearme">This paragraph will sit below</p>
        
    </div>
    
</body>
</html>