<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wireframe</title>
    <link rel="stylesheet" type="text/css" href="wireframe.css">
</head>

<body>

    <div id="wrapper">
        <header>
            <!-- <div id="header"></div>  -->
            <h1>Main Title</h1>
            <h2>Subtitle</h2>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="">link#1</a>
                </li>
                <li>
                    <a href="">link#2</a>
                </li>
                <li>
                    <a href="">link#3</a>
                </li>
                <li>
                    <a href="">link#4</a>
                </li>
                <li>
                    <a href="">link#5</a>
                </li>
                <li>
                    <a href="">link#6</a>
                </li>
                <li>
                    <a href="">link#7</a>
                </li>
                <li>
                    <a href="">link#8</a>
                </li>
                <li>
                    <a href="">link#9</a>
                </li>
                <li>
                    <a href="">link#10</a>
                </li>
                <li>
                    <a href="">link#11</a>
                </li>
                <li>
                    <a href="">link#12</a>
                </li>
                <li>
                    <a href="">link#13</a>
                </li>
                <li>
                    <a href="">link#14</a>
                </li>
                <li>
                    <a href="">link#15</a>
                </li>
            </ul>
        </nav>
        <main>
            <div id="toplinks">
                <ul>
                    <li>
                        <a href="">toplink #1</a>
                    </li>
                    <li>
                        <a href="">toplink #2</a>
                    </li>
                    <li>
                        <a href="">toplink #3</a>
                    </li>
                    <li>
                        <a href="">toplink #4</a>
                    </li>
                    <li>
                        <a href="">toplink #5</a>
                    </li>
                </ul>
            </div>
            <div id="scrollbox">
                <div class="article">
                    <h1>Article title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, aliquid, quia iure earum sed culpa repellendus aspernatur consequuntur optio suscipit. Neque, consequatur obcaecati accusantium magnam asperiores quia in earum a.</p>
                    <small>Post by
                        <a href="">User</a>at 13:37 |
                        <a href="">4 comments</a>
                    </small>
                </div>
                <div class="article">
                    <h1 class="left-align">Article title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, aliquid, quia iure earum sed culpa repellendus aspernatur consequuntur optio suscipit. Neque, consequatur obcaecati accusantium magnam asperiores quia in earum a.</p>
                    <small>Post by
                        <a href="">User</a>at 13:37 |
                        <a href="">4 comments</a>
                    </small>
                </div>
                <div class="article">
                    <h1>Article title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, aliquid, quia iure earum sed culpa repellendus aspernatur consequuntur optio suscipit. Neque, consequatur obcaecati accusantium magnam asperiores quia in earum a.</p>
                    <small>Post by
                        <a href="">User</a>at 13:37 |
                        <a href="">4 comments</a>
                    </small>
                </div>
            </div>
        </main>
        <footer>
            &copy; Copyright this very second
        </footer>
    </div>
</body>

</html>