body{ 
    background:#955;
}
/*   Needs to be centered. Some color might be nice  */
#wrapper{
    background: #D99;
    margin: 0 auto;
    width:600px;
}
/* =========================
         HEADER
  ==========================
*/
header{
 background:#D66;
    
}
header h2, header h1{
 margin-bottom:0;   
}
/* =========================
         NAV
  ==========================
*/

nav{
    background:#C88;
    float:left;
    margin-right:20px;
    width:200px;
    box-sizing:border-box;
}

nav li{
    list-style-type:none;
}

nav a, #toplinks a{
  text-decoration:none;   
}

/* =========================
         MAIN
  ==========================
*/
main{ 
    background:#5AD;
    float:right;
    width:400px;
    box-sizing:border-box;
}

/* main links */
#toplinks ul{
  background: linear-gradient(white, #999);
    margin:0 auto;
}
#toplinks li{
 display:inline;   
}

/* main articles */
#scrollbox{
   height:400px;
    overflow:auto;
}
.article{
   padding-left:20px;   
}
.article h1{
    text-align:center;
}

footer{
    clear:both;
}