header{
    position:fixed;
    height:80px;
    width:100%;
    left:0;
    top:0;
    background-color:#555;
    color:white;
    z-index:5000;
}
header li{
    display:inline-block;
}
header a {
    color:inherit;
}
div {
    height:400px;
    transition: background 2s;
    background-color:#EEE;
    padding-top:80px;
}
.highlight{
    background-color:black;
    color:white;
}

