<!doctype html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Two columns</title>
    <link rel="stylesheet" href="twocol.css">
    
    
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Basic two column site</h1>
            <h2>a test</h2>
        </header>
        <nav>
            <h1>Links</h1>
            <ul>
                <li>
                    <a href="//google.com">Link #1</a>
                </li>
                <li>
                    <a href="//google.com">Link #2</a>
                </li>
                <li>
                    <a href="//google.com">Link #3</a>
                </li>
                <li>
                    <a href="//google.com">Link #4</a>
                </li>
                <li>
                    <a href="//google.com">Link #5</a>
                </li>
                <li>
                    <a href="//google.com">Link #6</a>
                </li>
                <li>
                    <a href="//google.com">Link #7</a>
                </li>
                <li>
                    <a href="//google.com">Link #8</a>
                </li>
                <li>
                    <a href="//google.com">Link #9</a>
                </li>
                <li>
                    <a href="//google.com">Link #10</a>
                </li>
                <li>
                    <a href="//google.com">Link #11</a>
                </li>
                <li>
                    <a href="//google.com">Link #12</a>
                </li>
                <li>
                    <a href="//google.com">Link #13</a>
                </li>
                <li>
                    <a href="//google.com">Link #14</a>
                </li>
                <li>
                    <a href="//google.com">Link #15</a>
                </li>
            </ul>
        </nav>
        <main>
            <div id="topbar">
                <ul><li><a href="">Link #1</a></li><li><a href="">Link #2</a></li><li><a href="">Link #3</a></li><li><a href="">Link #4</a></li><li><a href="">Link #5</a></li></ul>
            </div>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
            <article>
                <h1>Article Title</h1>
                <p>
                    <span class="firstword">Lorem</span>ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, laudantium, voluptate perspiciatis illum voluptatibus ipsa odio quod ullam recusandae nostrum culpa fugiat animi harum consectetur tenetur officiis dolores quasi corporis.</p>
                <small>
                    Post by User at 2:14AM | 4
                    <a href="">comments</a>
                </small>
            </article>
        </main>
        <footer>&copy; 2014 Code Wyoming      </footer>
    </div>
</body>
</html>