body {
    margin: 0px;
    background: #EEE;
}
#topbar a,
#topbar a:visited {
    color: #DDF;
    text-decoration: none;
}
#wrapper {
    width: 700px;
    margin: 0 auto;
    background: #00B4FF;
}
#wrapper:after {
    content: " ";
    clear: both;
}
header {
    padding-top: 15px;
    padding-left: 40px;
    background: #515151;
}
header h2 {
    padding-left: 50px
}
header h1, header h2 {
    color: #EEE;
}
/* SHARED */
h1, h2 {
    color: #00B4FF;
}
nav,
main {
    box-sizing: border-box;
    float: left;
}
/* NAV */

nav {
    margin-top: 80px;
    padding-left: 30px;
    width: 200px;
}
nav a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;

}
nav li {
    list-style-type: none;
}
/*   MAIN CONTENT */

main {
    width: 500px;
    background: #FFF;
}
article {
    padding-left: 15px;
}
article h1 {
    padding-left: 30px;
    border-left: 2px solid #DD8;
}
#topbar {
    padding-left: 0px;
}
#topbar ul {
    margin: 0px;
    padding-left: 0px;
}
#topbar li {
    display: inline-block;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    width: 20%;
    border-right: 1px solid black;
    background: #515151;
    color: #FFF;
}
#topbar li:last-child {
    border-right: none;
}
