<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Japan Vacation Calendar</title>
</head>
<body>
<p>Looking at staying at <a href='http://kshouse.jp/tokyo-oasis-e/index.html'>this hostel</a> in Tokyo with Jenn</p>
<p>Flights to and from sapporo have been bought, <a href='http://www.annupuri-yh.com/index.html'>reservations in niseko</a> have been made.</p>
<p>As far as staying in Sapporo goes, we'll be surfing at this lady's second apartment on the way in and the way out <a href='http://www.couchsurfing.org/profile.html?id=3YH1RK5'>Amanda In Sapporo</a></p>
<p>Hotel reservations for Kyoto are being made today (2/6). Looks like it will be  the Mitsui Garden well located in downtown Kyoto, very near the main station. Tokyo reservations are also underway</p>
<p>Things left to do:</p>
<ul>
<li>Finalize Kansai sightseeing (Kyoto, Osaka, Nara)</li>
<li>Figure out tokyo itenerary(See map below?)</li>
<li>Reserve hotel in Hiroshima</li>
<li>Figure out hiroshima itenerary</li>
</ul>
<iframe src="https://www.google.com/calendar/embed?title=Japan%20Vacation%20Feb%20and%20March&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23c0c0c0&amp;src=novaugust.net_gsd1d86b8knkntu4af31lr8h94%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Asia%2FTokyo&amp;dates=20120301%2F20120331" style=" border-width:0 " width="1000" height="600" frameborder="0" scrolling="no"></iframe>
<p>Here's a map I'm working on of P.O.I. in Tokyo</p>
<iframe width="1000" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=201697892081546724840.0004b55b8997a94aff6cb&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;ll=35.689649,139.76326&amp;spn=0.167306,0.342979&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=201697892081546724840.0004b55b8997a94aff6cb&amp;ie=UTF8&amp;t=h&amp;vpsrc=6&amp;ll=35.689649,139.76326&amp;spn=0.167306,0.342979&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">æäèåå Tokyo Siteseeing spots</a> in a larger map</small>
</body>
