* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    display: inline-block;
    border: solid 2px #DDD;
    padding: .2em 2em;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #EEE, #FFF 20%, #FFF 80%, #EEE);
    height: 2em;
    
    font-family: Garamond;
    font-size: 1.1em;
}
h2 {
    margin-bottom: 1em;
}
p {
    margin: 1em 0;
}
a {
    color: #000;
    background-color: rgb(248, 248, 248);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p, a {
    font-family: sans-serif;
    font-size: .9em;
}
.content {
    max-width: 60em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*
===========================
 HEADER
===========================
*/
header {
    padding: .5em 0 4em 0;
    
    color: #EEE;
    font-size: 1.2em;
    
    background-image: url(//lorempixel.com/g/800/300/nature);
    background-size: cover;
    background-position: center;
}
header .header-top {
    max-width: 60em;
    width: 80%;
    margin: auto;
    overflow: auto;
}
header h1 {
    float: left;
}
header nav {
    margin-top:1em;
    text-align: right;
}
header nav li {
    display: inline-block;
    margin-left: 1em;
}
header nav li a {
    color: white;
    text-decoration: none;
    background-color: inherit;
}
header .tagline {
    width: 60%;
    margin: 4em auto;
    
    text-align: center;
}

/*
===========================
 MAIN
===========================
*/
main {
    color: #444;
}
main section {
    margin: 2em 0;
}
/*
---------------------------
 Campaigns
---------------------------
*/
.campaigns article {
    position: relative;
    margin-top: 2em;
    border-left: 5px solid #555;
    padding-left: 1em;
    overflow: auto;
}
.campaigns article:nth-child(even) {
    border-left: none;
    border-right: 5px solid #555;
    padding-left: 0;
    padding-right: 1em;
}

.campaigns article img{
    float: right;
    width: 58%;
    margin-left: 2%;
}
.campaigns article:nth-child(even) img{
    float: left;
    margin-left: 0; margin-right: 2%;
}
/*
----
Campaign Text
----
*/
.campaigns article figcaption {
    overflow: auto;
    width: 40%;
}
.campaigns h2 {
    text-align: center;
}
.campaigns p:first-of-type {
    text-indent: 2em;
}
.campaigns article footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 60%;
    text-align: right;
}
.campaigns article:nth-child(even) footer {
    left: 60%; right: 0;
    text-align: left;
}


/*
====================
DONATE
====================
*/
.donate {
    padding: 0px 1em;
    overflow: hidden;
    height: 14em;
}
.donate, .donate aside {
    border-left: 5px solid #555;
}
.donate .donate-form, .donate aside {
    float: left;
    height: 100%;
}
.donate-form {
    width: 40%;
}
.donate-form .form-group {
    margin-top:1em;
    line-height: 2em;
}
.donate-form .form-group input{
    float:right;
    width: 75%;
    height: 2em;
    box-shadow: inset 0px 0px 15px -1px #999;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.donate-form button {
    float: right;
    margin-top: 1em;
}
aside.feedback {
    width: 22.5%;
    padding-left: 35px;
    margin-left: 7.5%;
    position: relative;
}
aside.feedback img {
    position: absolute;
    left: -25px; top: 50px;
}

footer {
    border-top: 5px solid #555;
}
footer ul {
    float: left;
    width: 25%;
    padding:2em;
}
footer nav li {
    list-style: none;
}

@media screen and (max-width:58em) {
    .campaigns p:nth-of-type(2) {
        display: none;
    }
}