<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="twitter.css">
</head>

<body>
    <header></header>
    <div id="content">
        <aside>
            <div id="stats" class="card">
                <nav>
                    <ul>
                        <li>
                            <a href="">Tweets</a>
                        </li>
                        <li>
                            <a href="">Following</a>
                        </li>
                        <li>
                            <a href="">Followers</a>
                        </li>
                        <li>
                            <a href="">Favorites</a>
                        </li>
                        <li>
                            <a href="">Lists</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card" id="follow">
                <h1>Follow Casey Lentz</h1>
                <input type="text" placeholder="Full name">
                <input placeholder="Email" type="email">
                <input type="password" placeholder="Password">
                <button>Sign up</button>
            </div>
            <div class="card" id="media">
                <nav>
                    <ul>
                        <li><a href="">Photos and Videos</a></li>
                    </ul>
                </nav>
                <img src="//placebear.com/100/100" alt="">
                <img src="//placekitten.com/100/100" alt="">
                <img src="//placedog.com/100/100" alt="">
                <img src="//fillmurray.com/g/100/100" alt="">
                <img src="//lorempixel.com/100/100" alt="">
                <img src="//placesheen.com/100/100" alt="">
            </div>
            <div class="card" id="trends">
                <h3>Worldwide Trends</h3>
                <ul>
                    <li>
                        <a href="">#SWKOTOR</a>
                    </li>
                    <li>
                        <a href="">#meowmixcommercial</a>
                    </li>
                    <li>
                        <a href="">#GRAMMYS</a>
                    </li>
                    <li>
                        <a href="">#itscoldout</a>
                    </li>
                    <li>
                        <a href="">not a real trend</a>
                    </li>
                    <li>
                        <a href="">trend sans hash</a>
                    </li>
                    <li>
                        <a href="">#SOTU</a>
                    </li>
                    <li>
                        <a href="">kowabunga dude</a>
                    </li>
                    <li>
                        <a href="">#roflcopter</a>
                    </li>
                    <li>
                        <a href="">Happy Lunar New Year</a>
                    </li>
                </ul>
            </div>
            <div class="card" id="about">
                <ul>
                    <li>&copy; 2014 Twitter</li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                    <li>
                        <a href="">Terms</a>
                    </li>
                    <li>
                        <a href="">Privacy</a>
                    </li>
                    <li>
                        <a href="">Cookies</a>
                    </li>
                    <li>
                        <a href="">Ad Info</a>
                    </li>
                    <li>
                        <a href="">Brand</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Status</a>
                    </li>
                    <li>
                        <a href="">Apps</a>
                    </li>
                    <li>
                        <a href="">Jobs</a>
                    </li>
                    <li>
                        <a href="">Advertise</a>
                    </li>
                    <li>
                        <a href="">Media</a>
                    </li>
                    <li>
                        <a href="">Developers</a>
                    </li>
                    <li>
                        <a href="">Directory</a>
                    </li>
                </ul>
            </div>

        </aside>
        <main>
            <div id="hero" class="card">
                <div id="user">
                    <img id="avatar" src="//fillmurray.com/150/150">
                    <h1>Matt Enlow</h1>
                    <h2>@novaugust</h2>
                    <p id="user-desc">Climber | Software Engineer | Technical Instructor | Skier</p>
                    <p>
                        <span>Lander, Wyoming</span>
                        <span>·</span>
                        <a href="//novaugust.net">novaugust.net</a>
                    </p>
                </div>
            </div>
            <div id="tweets" class="card">
                <h2>Tweets</h2>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="//fillmurray.com/150/150" alt="">
                    <div class="tweet-content">
                        <div class="top">
                            <h3>Matt Enlow <span class="twitter-id">@novaugust</span></h3>
                            <time>Jan 29th</time>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit! Ipsum, laborum sit adipisci itaque illo esse <a href="">fuga</a> eius laudantium assumenda recusandae. Libero ab quo a nemo aliquam necessitatibus <a href="">@deserunt</a> impedit magni</p>
                        <div class="bottom">
                            <a href="">Expand</a>
                            <ul>
                                <li><a href="">Reply</a></li>
                                <li><a href="">Retweet</a></li>
                                <li><a href="">Favorite</a></li>
                                <li><a href="">More</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </main>
    </div>
</body>

</html>