<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Position Notes</title>
</head>
<body>
    <h1>The Position Property</h1>
    
    <p>Position has four values</p>
    
    <ol>
    <li><em>static</em> (default)</li>
    <li><em>relative</em></li>
    <li><em>absolute</em></li>
    <li><em>fixed</em></li>
    </ol>
    
    <p>Except for static, eah one works together with offsets to create new positions for an element.</p>
    
    <h2>position:static</h2>
    
    <p>Nothing too interesting going on here. You never need to write "position:static", as its the default for <em>all</em> elements.</p>
    
    <h2>position:relative</h2>
    
    <ul>
    <li>Moves the element (with the help of offsets) relative to where it would <em>normally</em> be in the document flow.</li>
    <li>Remains in the normal document flow.</li>
    </ul>
    
    <h2>position:absolute</h2>
    
    <ul>
    <li>Positions the element relative to its first <em>non static</em> parent. </li>
    <li>If it has no non-static parent, positions the element relative to the viewport</li>
    </ul>
    
    <h2>position:fixed</h2>
    
    <ul>
    <li>Like absolute, except the element stays put even when we scroll!</li>
    <li>Not terribly versatile, but very dramatic.</li>
    </ul>
    
    <h1>Offsets</h1>
    
    <p>"Offsets" is a generic name to describe a group of four properties often used with position.</p>
    
    <ul>
    <li>top</li>
    <li>bottom</li>
    <li>left</li>
    <li>right</li>
    </ul>
    
    <h2>Offset usage</h2>
    
    <p>Use either top OR bottom in conjunction with right OR left.</p>
    
    <p>Aka, <code>top:0;right:0;</code> is fine but <code>top:0;bottom:0;</code> is broken.</p>
    
    <p>Offsets only work on non-static elements.</p>
    
    <h1>Z-index</h1>
    
    <p>Lets us stack our elements in the way we desire. Z-index values have no units, and so look like this.</p>
    
    <p><code>z-index:5;</code></p>
    
    <p>The higher the number, the more "on top" the element is, so a 10 is on top of a -3.</p>
    
    <p>On that note, z-index can be negative.</p>
    
    
</body>
</html>