<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Positioning</title>
    <link rel="stylesheet" href="position.css">
    <style>
        p{
            color:black;
            padding:0px 30px;
            /* display:none; */
        }
    </style>
</head>

<!--To demo:
  #position
      * Static
      * Relative
          Similar to static
          Doesn't affect other elements
          Offsets (left 150) (top 75)
      * Absolute
          <remove offsets>
          Demo it!
          Now ignored by surrounding elements
          Relative to viewport OR
          first non-static parent
          try right/bottom
          add :after
      * Fixed
          twitter
          stays still, even with scrolling
          demo w/ lotsa p for scroll
          div#fixed
  # z-index
      * Higher wins
      * Top, middle, bottoms
      * Only applies to non-static
  # Position + Float
      * Nuh uh.
 
  
    -->













<body>
    <div id="wrapper">
        <div id="top">Top</div>
        <div id="middle">Middle</div>
        <div id="bottom">Bottom</div>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, amet, possimus, porro saepe officia non fugit maiores sed nulla sequi iure optio temporibus quisquam quia distinctio. Eos, doloremque ipsam aliquam.
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia illum debitis saepe maiores necessitatibus sit modi est labore cupiditate repellendus. Perspiciatis, assumenda ut officia nam quam reprehenderit sit rem dolores.
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestiae, nostrum, similique omnis perspiciatis dolores animi vel quos fugiat incidunt quas odio blanditiis voluptates ab voluptate odit alias eos explicabo.
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, alias, dignissimos eos tempora omnis ea quae necessitatibus magni accusamus beatae saepe sequi cumque facere fugiat quo ratione voluptates exercitationem nesciunt.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aperiam minus at. Ullam, similique, odit porro officiis incidunt rerum eveniet iste necessitatibus vero officia voluptatem saepe odio placeat omnis sunt!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, harum, fugiat, nostrum sequi quia dolores amet eligendi voluptate velit accusamus placeat distinctio enim quaerat reiciendis laudantium expedita id dolor est?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, iste, accusantium, autem, omnis quo voluptatum blanditiis quisquam esse necessitatibus molestias quia deleniti minima sapiente laborum cupiditate quaerat dicta nisi praesentium.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, sed, consectetur aut eum porro accusamus harum suscipit ut similique cum ullam laborum ad impedit reiciendis dignissimos fugit dicta dolor quos.</p>


    </div>
</body>

</html>