body {
    padding-top: 50px;
    text-align: center;
}

/* Acronym styling */
span:after {
    content: ".";
    color: lightgreen;
}


/* Shapes */

#elipse {
    height: 80px;
}
div {
    display: inline-block;
    margin: 53px 10px 13px 10px;
    width: 100PX;
    height: 100px;
    background-color: #FAA;
}
.radius {
    border-radius: 50%;
}