<!-- See 350_LandingPage_one.jpg in img -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <!-- <link rel="stylesheet" href="landing.css"> -->
    <link rel="stylesheet" href="landing.css">
</head>

<body>
    <header>
        <img src="//placekitten.com/300/100" alt="Logo">
        <nav>
            <ul>
                <li>
                    <a href="#campaigns">Campaigns</a>
                </li>
                <li>
                    <a href="#news">News</a>
                </li>
                <li>
                    <a href="#donate">Donate</a>
                </li>
                <li>
                    <a href="#ppl">Our People</a>
                </li>
                <li>
                    <a href="#copyright">About Us</a>
                </li>
            </ul>
        </nav>
        <h1>Headline</h1>
        <h3>Subheadline</h3>
        <h4 class="action">
            <a class="button" href="">Join Now</a>
        </h4>
    </header>
    <!-- Campaigns -->
    <section id="campaigns" class="campaign row">
        <img src="//placekitten.com/300/300" alt="">
        <h1>Title of a campaign</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, asperiores, magnam, recusandae, ullam qui iste iure perspiciatis dolores ipsum perferendis laboriosam quas voluptatibus repellat amet sapiente ducimus harum explicabo blanditiis?</p>
        <a href="" class="button">Read more</a>
        <div class="spinners">
            <span class="spinner spinner-active"></span>
            <span class="spinner"></span>
            <span class="spinner"></span>
        </div>
    </section>
    <section class="campaign row">
        <img src="//fillmurray.com/300/300" alt="">
        <h1>Title of a campaign</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, asperiores, magnam, recusandae, ullam qui iste iure perspiciatis dolores ipsum perferendis laboriosam quas voluptatibus repellat amet sapiente ducimus harum explicabo blanditiis?</p>
        <a href="" class="button">Read more</a>
        <div class="spinners">
            <span class="spinner spinner-active"></span>
            <span class="spinner"></span>
            <span class="spinner"></span>
        </div>
    </section>
    <section class="campaign row">
        <img src="//fillmurray.com/g/300/300" alt="">
        <h1>Title of a campaign</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, asperiores, magnam, recusandae, ullam qui iste iure perspiciatis dolores ipsum perferendis laboriosam quas voluptatibus repellat amet sapiente ducimus harum explicabo blanditiis?</p>
        <a href="" class="button">Read more</a>
        <div class="spinners">
            <span class="spinner spinner-active"></span>
            <span class="spinner"></span>
            <span class="spinner"></span>
        </div>
    </section>
    <section class="campaign row">
        <img src="//placekitten.com/300/300" alt="">
        <h1>Title of a campaign</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, asperiores, magnam, recusandae, ullam qui iste iure perspiciatis dolores ipsum perferendis laboriosam quas voluptatibus repellat amet sapiente ducimus harum explicabo blanditiis?</p>
        <a href="" class="button">Read more</a>
        <div class="spinners">
            <span class="spinner spinner-active"></span>
            <span class="spinner"></span>
            <span class="spinner"></span>
        </div>
    </section>
    <div class="row">
        <section id="donate">
            <h1>Please Donate</h1>
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="email">Email</label>
            <input type="text" id="email">
            <label for="pledge">Pledge</label>
            <input type="text" id="pledge">
        </section>
        <!-- Fixes inline whitespace-->
        <section id="ppl" class="person">
            <img class="profile" src="//placekitten.com/50/50" alt="">
            <h1>John Doe</h1>
            <time>21m ago</time>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, dolorum animi ut debitis cupiditate illum corrupti neque saepe natus quae! Animi, nulla hic quae culpa at cumque quaerat porro quibusdam.</p>
            <span class="share">Retweet</span>
            <span class="spinner"></span>
        </section>
        <!--  Fixes inline whitespace-->
        <section class="person">
            <img class="profile" src="//placekitten.com/50/50" alt="">
            <h1>Jane Doe</h1>
            <time>3hr ago</time>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, dolorum animi ut debitis cupiditate illum corrupti neque saepe natus quae! Animi, nulla hic quae culpa at cumque quaerat porro quibusdam.</p>
            <span class="share">Retweet</span>
            <span class="spinner"></span>
        </section>
    </div>
    <!-- news -->
    <div id="news" class="row">
        <h1>News</h1>
        <section>
            <img src="//placekitten.com/300/75" alt="">
            <h1>Title of News</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolore, tempore, quas adipisci accusamus vel et quaerat maiores labore vitae nemo veritatis. Quaerat, amet, impedit unde optio tempore libero maxime!</p>
            <a href="">Read More</a>
        </section>
        <section>
            <img src="//placekitten.com/300/75" alt="">
            <h1>Title of News</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolore, tempore, quas adipisci accusamus vel et quaerat maiores labore vitae nemo veritatis. Quaerat, amet, impedit unde optio tempore libero maxime!</p>
            <a href="">Read More</a>
        </section>
        <!-- Newline spacing fix/hack-->
        <section>
            <img src="//placekitten.com/300/75" alt="">
            <h1>Title of News</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolore, tempore, quas adipisci accusamus vel et quaerat maiores labore vitae nemo veritatis. Quaerat, amet, impedit unde optio tempore libero maxime!</p>
            <a href="">Read More</a>
        </section>
    </div>
    <footer id="ZE-BOTTOM" class="row">
        <img src="//placekitten.com/150/50" alt="">
        <div class="footer-block">
            <h2>Some Links</h2>
            <ul>
                <li>
                    <a href="">Link 1</a>
                </li>
                <li>
                    <a href="">Link 2</a>
                </li>
                <li>
                    <a href="">Link 3</a>
                </li>
                <li>
                    <a href="">Link 4</a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h2>More Links</h2>
            <ul>
                <li>
                    <a href="">Link 1</a>
                </li>
                <li>
                    <a href="">Link 2</a>
                </li>
                <li>
                    <a href="">Link 3</a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h2>Social Networks</h2>
            <ul>
                <li>
                    <span class="social social-twitter"></span>
                </li>
                <li>
                    <span class="social social-facebook"></span>
                </li>
            </ul>
        </div>
        <span id="copyright">&copy; ME 2015</span>
    </footer>
</body>

</html>