h4 {
    margin: 0 0 12px 0;
    color: #33383D;
    font-size: 1.8em;
}
p {
    margin: 0;
    font-size: 1.5em;
    width: 500px;
    float: left;
}
img {
    padding: 10px;
    margin: 0 25px;
    float: right;
}
/* Clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    *zoom: 1;
}